@font-face {
  font-family: 'tiller';
  src: url('/assets/fonts/TillerTest-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'tiller';
  src: url('/assets/fonts/TillerTest-Bold.otf');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'laperutaflf';
  src: url('/assets/fonts/laperutaflf.ttf');
  font-weight: 400;
  font-style: normal;
}


.work-sans-A {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: tiller;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerBox {
  height: 13vh;
}

.selectorBox {
  padding: 1em;
  height: 70vh;
  overflow: scroll;
}

.actionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.clickable {
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #d4af37;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
}

.clickable:hover {
  background-color: #e5cf87;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}