@font-face {
  font-family: 'tiller';
  src: url('/assets/fonts/TillerTest-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'tiller';
  src: url('/assets/fonts/TillerTest-Bold.otf');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'laperutaflf';
  src: url('/assets/fonts/laperutaflf.ttf');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: tiller;
}

* {
  box-sizing: border-box;
}

.work-sans-A {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerBox {
  height: 13vh;
}

.selectorBox {
  padding: 1em;
  height: 70vh;
  overflow-y: auto;
}

.actionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.clickable {
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #d4af37;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
}

.clickable:hover {
  background-color: #e5cf87;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.clickable:disabled {
  background-color: #3a3a3a;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  display: block;
  height: 1em;
}